<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>
<p>
  <strong>Edition:</strong>
  <%=  @book.edition %>
</p>
<p>
  <strong>Publication Year:</strong>
  <%= @book.publication_year %>
</p>
<p>
  <strong>Authors Name:</strong>
  <%= @book.authors.pluck(:name).join(' , ') %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>